/* Write your CSS here */

.bg-container {
  border-width: 20px;
  background-color: #ffd569;
  border-radius: 4px;
  color: ;
}
.fruit-container {
  display: flex;
}
.count-color {
  color: #ffd569;
}
.mango-btn {
  background-color: #007bff;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}
.img-props {
  height: 30vh;
  width: 30vh;
}

.banana-btn {
  background-color: #007bff;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}
